<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- mybatis 全局配置文件 节点顺序参考:按住CTRL+configuration节点,进入文件观察顺序 -->
<configuration>
    <properties resource="jdbc.properties"></properties>

    <!-- 配置日志 -->
    <settings>
        <!--配置日志-->
        <setting name="logImpl" value="LOG4J"/>
        <!--是否开启二级缓存，默认false-不开启, true：开启-->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 设置别名 -->
    <typeAliases>
        <package name="com.kkb.pojo"/>
        <package name="com.kkb.mapper"/>
    </typeAliases>

    <!-- 配置mybatis环境 -->
    <environments default="development">
        <!-- id数据源名称 -->
        <environment id="development">
            <!-- 事务的类型: JDBC 使用Connection 对象的提交和回滚的方法 -->
            <transactionManager type="JDBC"/>
            <!-- 创建数据源: POOLED方式 表示使用连接池 -->
            <dataSource type="POOLED">
                <!-- 创建数据源必备4大参数 (数据库四大金刚) -->
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 在配置文件当中去注册映射文件 -->
    <mappers>
        <mapper resource="com/kkb/pojo/Team.xml"/>
        <mapper resource="com/kkb/mapper/TeamMapper.xml"/>
        <mapper resource="com/kkb/mapper/GameRecordMapper.xml"/>
        <mapper resource="com/kkb/mapper/UserMapper.xml"/>
        <mapper resource="com/kkb/mapper/PlayerMapper.xml"/>

<!--        <mapper class="com.kkb.pojo.Team"/>-->
<!--        <mapper class="com.kkb.mapper.TeamMapper"/>-->
<!--        <mapper class="com.kkb.mapper.GameRecordMapper"/>-->
<!--        <mapper class="com.kkb.mapper.UsersMapper"/>-->
    </mappers>
</configuration>